@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply px-4 md:px-5 lg:px-6 py-1.5 md:py-2 rounded-full text-white/70 text-sm md:text-lg font-semibold md:font-medium hover:bg-white/10 hover:text-white transition duration-300;
  }

  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-red-300/5 shadow-[0_0_80px_inset] shadow-red-300/5;
  }

  .mask-image-y {
    mask-image: linear-gradient(
      to bottom,
      transparent,
      black 10%,
      black 70%,
      transparent
    );
  }

  .mask-image-x {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
  }

  .mask-image-footer {
    mask-image: radial-gradient(50% 50% at bottom center, black, transparent);
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-6xl;
  }
}

html, body {
  overflow-x: clip;
  scroll-behavior: smooth;
}
